@if (!isVerified) {

    <div class="d-flex  justify-content-center">
        <div class="d-flex flex-column">
            <img src="../../../assets/images/mm-logo1.JPG" alt="mm-logo">
            <div class="card mail-card">
                <div class="row justify-content-center">
                    <div class="row justify-content-center w-100 m-3">
                        <h3>Reset Password</h3>
                        <p>Enter new password for your Music Monkey account with email {{email}}, confirm it and submit. </p>
                    </div>
    
                    

                    <span class="p-float-label my-5">
                        <p-password [(ngModel)]="password" [toggleMask]="true">
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">Suggestions</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>At least one lowercase</li>
                                    <li>At least one uppercase</li>
                                    <li>At least one numeric</li>
                                    <li>Minimum 8 characters</li>
                                </ul>
                            </ng-template>
                        </p-password>
                        <label>Password</label>
                    </span>
    
                    <span class="p-float-label my-5">
                        <p-password [(ngModel)]="confirmPassword" [toggleMask]="true">
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">Suggestions</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>At least one lowercase</li>
                                    <li>At least one uppercase</li>
                                    <li>At least one numeric</li>
                                    <li>Minimum 8 characters</li>
                                </ul>
                            </ng-template>
                        </p-password>
                        <label>Confirm Password</label>
                    </span>
    
                    <div class="d-flex flex-row   m-3">
                        <button class="btn btn-success w-100" (click)="resetPassword()">Verify OTP</button>
                    </div>
                    
                    
                </div>
            </div>
            
    
        </div>
    
    </div>

} @else {

    @if (isOtpSent) {
        <div class="d-flex  justify-content-center">
            <div class="d-flex flex-column">
                <img src="../../../assets/images/mm-logo1.JPG" alt="mm-logo">
                <div class="card mail-card">
                    <div class="row justify-content-center">
                        <div class="row justify-content-center w-100 m-3">
                            <h3>Verification Required</h3>
                            <p>To continue, complete this verification step. We've sent an OTP to the email {{email}}. Please
                                enter it below to complete verification.</p>
                        </div>
        
                        <div class="row justify-content-center w-100 m-3">
                            <div class="flex flex-column gap-2">
                                <label for="username">Enter OTP</label>
                                <input pInputText id="otp" aria-describedby="otp-help" [(ngModel)]="otp" />
                                <p id="otp-help">Enter verification OTP to reset your password.</p>
                            </div>
                        </div>
        
                        <div class="d-flex flex-row   m-3">
                            <button class="btn btn-success w-100" (click)="validateOtp()">Verify OTP</button>
                        </div>
                        
                        @if (disableResendOtp) {
                            <span>Resend OTP in {{display}} minutes </span>
                        }
                        
                        <div class="d-flex flex-row justify-content-center  m-3">
                            <p-button label="Resend OTP" [link]="true" 
                            [disabled]="disableResendOtp" (click)="resendOtp()">
                        </p-button>
                        </div>
                    </div>
                </div>
                
        
            </div>
        
        </div>
        
        }@else {
        
        <div class="d-flex  justify-content-center">
            <div class="d-flex flex-column">
                <img src="../../../assets/images/mm-logo1.JPG" alt="mm-logo">
                <div class="card mail-card">
                    <div class="row justify-content-center">
                        <div class="row justify-content-center w-100 m-3">
                            <h3>Password Assistance</h3>
                            <p>Enter the email address associated with your Music Monkey account.</p>
                        </div>
        
                        <div class="row justify-content-center w-100 m-3">
                            <div class="flex flex-column gap-2">
                                <label for="username">Email</label>
                                <input pInputText id="email" aria-describedby="email-help" [(ngModel)]="email" />
                                <p id="email-help">Enter your email to get a verification OTP .</p>
                            </div>
                        </div>
        
                        <div class="d-flex flex-row justify-content-between  m-3">
                            <button class="btn btn-success w-100" (click)="sendMail()">Send Mail</button>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center  customer-contact">
                    <h4>Has your email address changed? </h4>
                    <p>if you no longer use the email-address associated with your Music Monkey account, you may contact
                        <span><a href="">Customer Service</a></span>
                        for help restoring access to your account.
                    </p>
                </div>
            </div>
        </div>
        }

}


