.login-card {
    border-radius: 10px;
    width: 80%;

}

.custom-img {
    max-width: 100%; 
    height: 100%; 
    object-fit: cover;
    
}

.img_right_login{
    position: relative;
} 

.logo-img {
    position: absolute;
    right: 10px;
    top: 10px;
    max-width: 80px;
}